@model IEnumerable<BBKBootCamp.Models.Solicitante>

@{
    ViewData["Title"] = "SendMailAdministradora";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int counterh = 0;
    int counterm = 0;
}

<h2>SendMailAdministradora</h2>